<div class="container">
  <div class="row">
    <h1>{{encabezado}}</h1>
    <form [formGroup]="usarioFormulario">
      <div class="mb-3">
        <label for="Nombre" class="form-label">Nombre: </label>
        <input id="Nombre" type="text" formControlName="Nombre" class="form-control" required/>
      </div>
      
      <div class="mb-3">
        <label for="FechaNacimiento" class="form-label">Fecha de Nacimiento: </label>
        <input id="FechaNacimiento" type="date" formControlName="FechaNacimiento" class="form-control" required/>
      </div>

      <div class="mb-3">
        <label for="Sexo" class="form-label">Sexo: </label>
        <select id="Sexo" formControlName="Sexo" class="form-select" required>
          <option value="" selected>-</option>
          <option value="M">Masculino</option>
          <option value="F">Femenino</option>
        </select>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3" (click)="enviarPeticion()">{{encabezado}}</button> -  
        <button type="submit" class="btn btn-secondary mb-3" (click)="Volver()">Volver</button>
      </div>
    </form>
    <div *ngIf="erroresEstado" class="alert alert-danger">
      <ul *ngFor="let error of errores">
        <li> {{error}} </li>
      </ul>
    </div>
  </div>
</div>
